.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 250px;
  border-radius: 20px;
  margin: auto 2rem;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.popular-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 3rem;
}

.newsong-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
